#:schema https://raw.githubusercontent.com/YunoHost/apps/master/schemas/manifest.v2.schema.json

packaging_format = 2

id = "screego"
name = "Screego"
description.en = "Screen sharing for developers"
description.fr = "Partage d'écran pour les développeurs"

version = "1.12.2~ynh1"

maintainers = ["eric_G"]

[upstream]
license = "GPL-3.0"
website = "https://screego.net/#/"
demo = "https://app.screego.net/"
admindoc = "https://screego.net/#/"
code = "https://github.com/screego/server"

[integration]
yunohost = ">= 12.0.9"
helpers_version = "2.1"
architectures = ["amd64", "arm64", "armhf"]
multi_instance = true

ldap = false

sso = false

disk = "50M"
ram.build = "50M"
ram.runtime = "50M"

[install]
    [install.domain]
    type = "domain"

    [install.init_main_permission]
    type = "group"
    default = "visitors"

    [install.admin]
    type = "user"

    [install.password]
    type = "password"

[resources]

    [resources.sources]

    [resources.sources.main]
    in_subdir = false
    amd64.url = "https://github.com/screego/server/releases/download/v1.12.2/screego_1.12.2_linux_amd64.tar.gz"
    amd64.sha256 = "ac9e2b447729e3c6ef1260b64f1017acf1f1a8df4a2c7ad58442fd10ecb0bb1a"
    arm64.url = "https://github.com/screego/server/releases/download/v1.12.2/screego_1.12.2_linux_arm64.tar.gz"
    arm64.sha256 = "2043ab3f011b63b7a3bf3cb884f1385d51da1dbb1ec5cb89a7c2c905702b79e5"
    armhf.url = "https://github.com/screego/server/releases/download/v1.12.2/screego_1.12.2_linux_armv7.tar.gz"
    armhf.sha256 = "a2e3423180d442e6800ef9783591d64045e7717e689b3a817459525b35cfbea9"
    autoupdate.asset.amd64 = "screego_\\d+\\.\\d+\\.\\d+_linux_amd64\\.tar\\.gz"
    autoupdate.asset.arm64 = "screego_\\d+\\.\\d+\\.\\d+_linux_arm64\\.tar\\.gz"
    autoupdate.asset.armhf = "screego_\\d+\\.\\d+\\.\\d+_linux_armv7\\.tar\\.gz"
    autoupdate.strategy = "latest_github_release"

    [resources.system_user]

    [resources.install_dir]

    [resources.permissions]
    main.url = "/"

    [resources.ports]
    main.default = 5050
    turn.default = 3478
    turn.exposed = "Both"
